{% extends "experiment1/BaseAuction.html" %}

{% block page_title %}Instructions{% endblock %}

{% block page_body %}
  {% include "experiment1/Instructions_General.html" %}

  {% if price_rule == 'first-price' and matching == 'random' and not chat %}
    {% include "experiment1/Instructions_S1_First.html" %}
  {% elif price_rule == 'first-price' and matching == 'fixed' and not chat %}
    {% include "experiment1/Instructions_S2_FirstRepeated.html" %}
  {% elif price_rule == 'first-price' and matching == 'fixed' and chat %}
    {% include "experiment1/Instructions_S3_FirstRepeated_Chat.html" %}
  {% elif price_rule != 'first-price' and matching == 'random' and not chat %}
    {% include "experiment1/Instructions_S4_Second.html" %}
  {% elif price_rule != 'first-price' and matching == 'fixed' and not chat %}
    {% include "experiment1/Instructions_S5_SecondRepeated.html" %}
  {% else %}
    {% include "experiment1/Instructions_S6_SecondRepeated_Chat.html" %}
  {% endif %}

  <div class="mt-3">{% next_button %}</div>
{% endblock %}

