{% extends "experiment1/BaseAuction.html" %}
{% load otree static %}

{% block form_content %}
<div class="instructions">
    <h2>Instructions</h2>
    <div class="content">
        {% block instructions_content %}
        <!-- Your instructions content here -->
        {% endblock %}
    </div>
    
    {% if formfields %}
    <div class="form-fields">
        {{ formfields }}
    </div>
    {% endif %}
    
    {% if next_button %}
    <div class="next-button">
        {{ next_button }}
    </div>
    {% endif %}
</div>
{% endblock %}
