{% load otree static %}
{% extends "auction/BaseAuction.html" %}

{% block page_title %}Instructions{% endblock %}

{% block page_body %}
  {% include "auction/Instructions_General.html" %}

  {# session-specific section #}
  {% if price_rule == 'first-price' and matching == 'random' and not chat %}
    {% include "auction/Instructions_S1_First.html" %}
  {% elif price_rule == 'first-price' and matching == 'fixed' and not chat %}
    {% include "auction/Instructions_S2_FirstRepeated.html" %}
  {% elif price_rule == 'first-price' and matching == 'fixed' and chat %}
    {% include "auction/Instructions_S3_FirstRepeated_Chat.html" %}
  {% elif price_rule != 'first-price' and matching == 'random' and not chat %}
    {% include "auction/Instructions_S4_Second.html" %}
  {% elif price_rule != 'first-price' and matching == 'fixed' and not chat %}
    {% include "auction/Instructions_S5_SecondRepeated.html" %}
  {% else %}
    {% include "auction/Instructions_S6_SecondRepeated_Chat.html" %}
  {% endif %}

  <div class="mt-4">
    {% next_button %}
  </div>
{% endblock %}

